#app {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	color: black;
	height: 80vh;
	justify-content: center;
	align-items: center;
	display: grid;
}

#app * {
	box-sizing: border-box;
}

.calculator {
	width: 300px;
	height: 420px;
	border-radius: 15px;
	background-color: hsl(0, 0%, 15%);
	border: none;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.result {
	width: 100%;
	padding: 30px;
	font-size: 20px;
	text-align: left;
	background-color: hsl(0, 0%, 25%);
	margin-bottom: 15px;
	border: none;
	color: white;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	border-radius: 15px;
	padding: 15px;
}

button {
	padding: 15px;
	font-size: 18px;
	cursor: pointer;
	border: none;
	outline: none;
	border: none;
	border-radius: 10px;
	font-weight: bold;
}

.number,
.operator {
	background-color: #f0f0f0;
}

.clear,
.equal {
	background-color: #ff963b;
	color: #fff;
}

button:hover {
	background-color: #ddd;
}

.equal {
	grid-column: span 2;
}

.log {
	width: 300px;
	height: 300px;
	padding: 20px;
	font-size: 1.2rem;
	text-align: left;
	vertical-align: top;
	background-color: hsl(0, 0%, 85%);
	margin-top: 15px;
	border: none;
	border-radius: 15px;
	color: black;
	overflow-y: auto;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	white-space: pre-line;
}
